.kt-switch {
  flex: 1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px;
  position: relative;

  &-label {
    width: 100%;
    height: 100%;
    display: flex;
    left: 0;
    top: 0;
  }

  &-tip {
    width: 50%;
    height: 100%;
    font-size: 14px;
    font-family: zcoo, serif;
    transition: all ease-in-out 0.3s;
    transform: translateX(100%);
    color: #ffffff;
    opacity: 0.36;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &-button {
    width: 50%;
    height: 100%;
    background: rgb(94, 94, 94);
    border-radius: 3px;
    transition: all ease-in-out 0.3s;
    transform: translateX(-100%);

    &.active {
      transform: translateX(0%);
      background: rgb(205, 206, 208);
    }
  }
}