[class^="kt-"] input {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.kt-input-cmp {
  height: 32px;
  line-height: 32px;
  border-radius: 3px;
  overflow: hidden;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}