@import "font";
@import '../components/kt-components';

:root {
  line-height: 1.5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

@property --scroll-bg {
  syntax: "<color>";
  inherits: true;
  initial-value: rgba(0, 0, 0, 0) ;
}

@property --thumb-bg {
  syntax: "<color>";
  inherits: true;
  initial-value: rgba(0, 0, 0, 0) ;
}


.scroller {
  transition: --scroll-bg linear .2s;

  &:hover {
    --scroll-bg: rgba(0, 0, 0, .2);
    --thumb-bg: rgba(0, 0, 0, .2);
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--scroll-bg);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    width: 12px;
    min-height: 8px;
    background-color: var(--thumb-bg);
    border-radius: 4px;
  }
}
